<div class="b">
	<div class="b trans" style="width:300%;" [style.margin-left]="(-100 * slideNumber)+'%'">
		<div class="v p" style="width:33.33%;">
			<div class="h lrp brd bBrd" style="height:45px;" layout="row" layout-align="start center">
				<h5 class="px16 hw clr e">User List</h5>
			</div>
			<div class="h" style="height:calc(100% - 45px);overflow-y:auto;">
				<div class="h lrp pt" (click)="expandUser($event,index,arr)" style="height:60px;" [ngClass]="{bg1:(i % 2) != 0,bg2:(i % 2) == 0}" *ngFor="let arr of userArr; let i = index">
				  <div class="v lp" style="width:75px;" layout="row" layout-align="start center">
				    <h5 class="px14 mw clr e" title="{{arr.id}}">{{arr.id}}</h5>
				  </div>
				  <div class="v lrp" style="width:350px" layout="row" layout-align="start center">
				    <h5 class="px14 mw clr e" title="{{arr.name}}">{{arr.name}}</h5>
				  </div>
				  <div class="v lp" style="width:350px;" layout="row" layout-align="start center">
				    <h5 class="px14 mw clr e" title="{{arr.phone}}">{{arr.phone}}</h5>
				  </div>
				  <div class="v lp" style="width:calc(100% - 775px);" layout="row" layout-align="start center">
				    <h5 class="px14 mw clr e" title="{{arr.email}}">{{arr.email}}</h5>
				  </div>
				</div>	
			</div>
		</div>
		<div class="v p" style="width:33.33%;">
			<div class="h lrp brd bBrd" style="height:45px;" layout="row" layout-align="start center">
				<div class="v rm" (click)="navigateBack(0);" layout="row" layout-align="center center">
					<i class="material-icons pt">arrow_back</i>
				</div>
				<h5 class="px16 hw clr e">Album List</h5>
			</div>
			<div class="h" style="height:calc(100% - 45px);overflow-y:auto;">
				<div class="vh p pt" (click)="ExpandAlbum($event,index,arr)" style="height:200px;width:15%" *ngFor="let arr of albumArr; let i = index">
					<div class="b brd fBrd bg2 brdRad bxshdw1" layout="column" layout-align="center center">
						<div class="h lrp" layout="column" layout-align="center center">
							<h5 class="px14 hw clr e">ID</h5>
							<h5 class="px14 mw clr e" style="margin-top:5px" title="{{arr.id}}">{{arr.id}}</h5>
						</div>
						<div class="h lrp tm" layout="column" layout-align="center center">
								<h5 class="px14 hw clr e">TITLE</h5>
							<h5 class="px14 mw clr e" style="margin-top:5px" title="{{arr.title}}">{{arr.title}}</h5>
						</div>
						<div class="h lrp tm" layout="column" layout-align="center center">
								<h5 class="px14 hw clr e">USER ID</h5>
							<h5 class="px14 mw clr e" style="margin-top:5px" title="{{arr.userId}}">{{arr.userId}}</h5>
						</div>
					</div>
				</div>	
			</div>
		</div>
		<div class="v p" style="width:33.33%;">
			<div class="h lrp brd bBrd" style="height:45px;" layout="row" layout-align="start center">
				<div class="v rm" (click)="navigateBack(1);" layout="row" layout-align="center center">
					<i class="material-icons pt">arrow_back</i>
				</div>
				<h5 class="px16 hw clr e">Photos</h5>
			</div>
			<div class="h" style="height:calc(100% - 45px);overflow-y:auto;">
					<div class="vh p pt" style="height:200px;width:15%" *ngFor="let arr of photoArr; let i = index">
						<div class="b brd fBrd bg2 brdRad bxshdw1" layout="column" layout-align="center center">
							<img class="b" src="{{arr.url}}" />
						</div>
					</div>
			</div>
		</div>
	</div>
</div>